<%= form_tag(exercises_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div class="input-append">
    <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Filter Workouts" %>
    <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
      of using a Rails form helper -->
  </div>
<% end %>
<% exercise_types = @days.first.exercises %>
<% require 'set'
   ex_types = Set.new
   @days.each do |da|
     da.exercises.each do |ex|
       ex_types << ex.exercise_name
     end
   end %>
<div class="workouts">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Workouts
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <% ex_types.each do |ex| %>
        <li role="presentation">
          <%= link_to ex, exercises_path(:search => ex), :method => "get" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8">
    <% if @user.days.any? %>
      <h3>Days (<%= @user.days.count %>)</h3>
      <ul class="days">
        <%= render @days %>
      </ul>
      <%= will_paginate @days %>
    <% end %>
  </div>
</div>
