<%= form_for(@day) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "General Overview" %>
  </div>
  <div class="field">
    <%= f.date_select :workout_date, placeholder: "Date" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>