<%= form_for(@exercise) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :day_id, :value => params[:id] %>
  <div class="field">
    <%= f.text_field :exercise_name, placeholder: "Exercise Type" %>
  </div>
  <div class="field">
    <%= f.number_field :weight, placeholder: "Weight" %>
  </div>
  <div class="field">
    <%= f.number_field :reps, placeholder: "Repetitions" %>
  </div>
  <div class="field">
    <%= f.number_field :sets, placeholder: "Sets" %>
  </div>
  <div class="field">
    <%= f.text_field :comments, placeholder: "Comments" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
