<li id="day-<%= day.id %>">
  <span class="date"><%= day.workout_date.to_formatted_s(:long) %></span>
  <%= raw('&nbsp;' * 5) %>
  <span class="content">
    Summary:
    <%= raw('&nbsp;' * 2) %>
    <%= day.content %>
  </span>
  <% if day.exercises.any? %>
    <span class = "mytable">
      <table id="exercises">
        <%= render day.exercises %>
      </table>
    </span>
  <% end %>
  <% if current_user?(day.user) %>
      <li class="add_exercise">
        <%-# should probably go to new_exercise_path but this works -%>
        <%= link_to "Add Exercise", edit_day_path(day) %>
        <span class = "delete_day">
          <%= link_to "delete", day, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
        </span>
      </li>
  <% end %>
</li>