<tr id="exercise-<%= exercise.id %>">
  
  <td id="name">
    <%= exercise.exercise_name %>
  </td>
  
  <td>
    <%= raw('&nbsp;' * exercise.exercise_name.length) %>
  </td>
  
  <td id="amounts">
    <%= exercise.weight %>
    <% if !exercise.weight.nil? %>
      x
    <% end %>
    <%= exercise.reps %>
    <% if !exercise.reps.nil? %>
      x
    <% end %>
    <%= exercise.sets %>
  </td>
  
  <td>
    <%= raw('&nbsp;' * 10) %>
  </td>
  
  <td id="comments">
    <%= exercise.comments %>
  </td>
  
  <td>
    <%= raw('&nbsp;' * 2) %>
  </td>
  
  <td>
    <%= link_to "delete", exercise, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
  </td>
</tr>