  <div class="backButton">
  <%= link_to "Back to Workouts", user_path(current_user) %>
  </div>
  <br>
  <% if !params[:search].nil? %>
    <div class="workout_name">
      <%= params[:search] %>
    </div>
  <% end %>
  <div class="searchedExercises">
  <% @exercises.each do |exercise| %>
    <tr id="exercise-<%= exercise.id %>">
    
    <td id="name">
      <%= exercise.day.workout_date %>
    </td>
    
    <td>
      <%= raw('&nbsp;' * exercise.exercise_name.length) %>
    </td>
    
    <td id="amounts">
      <%= exercise.weight %>
      <% if !exercise.weight.nil? %>
        x
      <% end %>
      <%= exercise.reps %>
      <% if !exercise.reps.nil? %>
        x
      <% end %>
      <%= exercise.sets %>
    </td>
    
    <td>
      <%= raw('&nbsp;' * 10) %>
    </td>
    
    <td id="comments">
      <%= exercise.comments %>
    </td>
    
    <td>
      <%= raw('&nbsp;' * 2) %>
    </td>
    
  </tr>
  <br>
  <% end %>
  </div>